* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
}

li {
    list-style: none;
}

i {
    font-style: normal;
}

input {
    border: none;
    outline: none;
}

body {
    min-width: 320px;
    max-width: 1200px;
    margin: 0 auto;
    color: #fff;
    // remove the mobile tap highlight
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@fontSize-xs: 14px;
@fontSize-sm: 16px;
@fontSize-md: 18px;
@fontSize-lg: 20px;
@fontSize-xl: 24px;

@media screen and (min-width:320px) {
    html {
        font-size: @fontSize-xs;
    }
}

@media screen and (min-width:375px) {
    html {
        font-size: @fontSize-sm;
    }
}

@media screen and (min-width:425px) {
    html {
        font-size: @fontSize-md;
    }
}

@media screen and (min-width:768px) {
    html {
        font-size: @fontSize-lg;
    }
}

@media screen and (min-width:1024px) {
    html {
        font-size: @fontSize-xl;
    }
}