* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    border: none;
}

li {
    list-style: none;
}

i {
    font-style: normal;
}

input {
    border: none;
    outline: none;
}

body {
    min-width: 320px;
    margin: 0 auto;
    color: #fff;

    @media screen and (min-width:1200px) {
        max-width: 1200px;
    }
}

@media screen and (min-width:320px) {
    html {
        font-size: 14px;
    }
}

@media screen and (min-width:375px) {
    html {
        font-size: 16px;
    }
}

@media screen and (min-width:425px) {
    html {
        font-size: 18px;
    }
}

@media screen and (min-width:768px) {
    html {
        font-size: 20px;
    }
}

@media screen and (min-width:1024px) {
    html {
        font-size: 24px;
    }
}