@import url(./styles/fontawesome.min.css);
@import url(./styles/base.less);
@import url(./styles/fonts.less);

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #15141f;
    user-select: none;
}